In [1]:
import pandas as pd
data=[1,2,3,4]
df=pd.Series(data)
print(df)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
import pandas as pd
data={"blenders":[123,432,322],
"brands":["saa","kaa","maa"]
}
df=pd.Series(data)
print(df)

blenders    [123, 432, 322]
brands      [saa, kaa, maa]
dtype: object

In [4]:
import pandas as pd
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [37]:
import pandas as pd
df=pd.read_csv("/home/user/Downloads/transactions.csv")
# print(df.head(5))   ...prints first 5rows
print(df)
# print(df.tail(5))   ....prints last 5rows
# print(df.info())    .....gives you more information about the data set.
# print(df.describe())     .....Summarizes data with metrics like mean, count, min, max, etc.

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [24]:
import pandas as pd
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
# print(df['Name']) ....Accessing a single column
# print(df[['Name', 'City']])   ....Accessing multiple columns
# print(df.iloc[2])      ......Access the second row
# df['Name']      ...........Retrieves a specific column.
# df.iloc[1]   .............Accesses a row by its position.
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago

In [35]:
import pandas as pd
df = pd.read_csv("/home/user/Downloads/transactions.csv")
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [33]:
import pandas as pd
data={
    'name':['kavya','lavanya','shailu','lll'],
    'age':[20,19,21,1],
    'city':['siddipet','karimnagar','nizambad','ad']
}
df=pd.DataFrame(data)
print(df.count()) # prints count of rows
print(df.shape[0])  #prints no of rows
print(df.shape[1])  #prints no of columns

name    4
age     4
city    4
dtype: int64
4
3

In [34]:
import pandas as pd
df = pd.read_csv("/home/user/Downloads/transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [1]:
import pandas as pd
df=pd.read_csv("/home/user/Downloads/transactions.csv")

In [2]:
# 1. Print Summary of transaction data set
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [3]:
# 2.Print Numbers of Attributes
print(df.shape[1])

5

In [4]:
# 3.. Print Numbers of Records
print(df.shape[0])

10

In [5]:
# 4. Get the row names
print(df.index.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# 5.Get the column names
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [7]:
# 6. View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
# 7.Change the name of column “ Quantity” to “Quant” 
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [9]:
# 8..Change the name of columns ProductID and UserID
df.rename(columns={"ProductID": "PID","UserID":"UID"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [10]:
# 9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
df_sorted = df.sort_values(by=["TransactionID"],
ascending=[False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

In [12]:
# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending
df_sorted = df.sort_values(by=["Quant", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [13]:
# 11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID
df = df[["PID", "Quant", "TransactionDate", "TransactionID", "UID"]]
print(df)

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

In [16]:
#12. Make UserID the first column of transactions
cols = ['UID'] + [col for col in df.columns if col != 'UID']
df = df[cols]
print(df)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [19]:
# 13.Extracting arrays from a Data Frame. Get the 2nd column
second_column = df.iloc[:, 1]
print(second_column)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: PID, dtype: int64

In [20]:
#15.. Get the ProductID Array
product_id_array = df['PID'].to_numpy()
print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]

In [22]:
# 16.Row subsetting, subset rows 1,3 and 6
subset_rows = df.iloc[[1, 3, 6]]
print(subset_rows)

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
6  3.0    4      1      2013-12-30              7

In [24]:
# 17.subset rows excluding 1,3 and 6
subset_rows_excluding = df.drop([1, 3, 6])
print(subset_rows_excluding)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [25]:
# 18.Subset the first three rows
first_three_rows = df.head(3)
print(first_three_rows)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

In [26]:
# 19.Subset the last 2 rows
last_two_rows = df.tail(2)
print(last_two_rows)

   UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [27]:
# 20.Subset rows excluding the last 2 rows
subset_excluding_last_two = df.iloc[:-2]
print(subset_excluding_last_two)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

In [28]:
#21.Subset rows excluding the first 3 rows
subset_excluding_first_three = df.iloc[3:]
print(subset_excluding_first_three)

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [30]:
#22. Subset rows where Quantity>1
subset_quantity = df[df['Quant'] > 1]
print(subset_quantity)

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [32]:
# 23.Subset rows where UserID=2
subset_userid_2 = df[df['UID'] == 2]
print(subset_userid_2)

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [33]:
#24.Subset rows where Quantity>1 and UserID=2
subset_df = df[(df['Quant'] > 1) & (df['UID'] == 2)]
print(subset_df)

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [34]:
#25.Subset rows where Quantity + UserID is >3
subset_df = df[(df['Quant'] + df['UID']) > 3]
print(subset_df)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [40]:
#26. Subset rows where an external array, foo, is True
# subset_df = df[foo]
# print(subset_df)

In [ ]:
#27.Subset rows where an external array, bar, is positive

In [ ]:
#28.Subset rows where foo is TRUE or bar is negative

In [ ]:
#29. Subset the rows where foo is not TRUE and bar is not negative

In [41]:
# 30. Subset by columns 1 and 3
subset_df = df.iloc[:, [1, 3]]
print(subset_df)

   PID TransactionDate
0    2      2010-08-21
1    4      2011-05-26
2    3      2011-06-16
3    2      2012-08-26
4    4      2013-06-06
5    5      2013-12-23
6    4      2013-12-30
7    2      2014-04-24
8    4      2015-04-24
9    4      2016-05-08

In [42]:
# 31. Subset by columns TransactionID and TransactionDate
subset_df = df[['TransactionID', 'TransactionDate']]
print(subset_df)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [43]:
# 32. Subset by columns TransactionID and TransactionDate with logical operator
subset_df = df.loc[:, (df.columns == 'TransactionID') | (df.columns == 'TransactionDate')]
print(subset_df)

  TransactionDate  TransactionID
0      2010-08-21              1
1      2011-05-26              2
2      2011-06-16              3
3      2012-08-26              4
4      2013-06-06              5
5      2013-12-23              6
6      2013-12-30              7
7      2014-04-24              8
8      2015-04-24              9
9      2016-05-08             10

In [44]:
# 33. Subset columns by a variable list of column names
column_list = ['TransactionID', 'TransactionDate']  # Define the column names
subset_df = df[column_list]
print(subset_df)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [45]:
# 34. Subset columns excluding a variable list of column names
exclude_columns = ['TransactionID', 'TransactionDate']  # Columns to exclude
subset_df = df.drop(columns=exclude_columns)
print(subset_df)

   UID  PID  Quant
0  7.0    2      1
1  3.0    4      1
2  3.0    3      1
3  1.0    2      3
4  2.0    4      1
5  2.0    5      6
6  3.0    4      1
7  NaN    2      3
8  7.0    4      3
9  3.0    4      4

In [46]:
# 35. Inserting and updating values
df.loc[2, 'Quant'] = 99  # Update a specific value
df['NewColumn'] = 'DefaultValue'  # Insert a new column with a default value
print(df)

   UID  PID  Quant TransactionDate  TransactionID     NewColumn
0  7.0    2      1      2010-08-21              1  DefaultValue
1  3.0    4      1      2011-05-26              2  DefaultValue
2  3.0    3     99      2011-06-16              3  DefaultValue
3  1.0    2      3      2012-08-26              4  DefaultValue
4  2.0    4      1      2013-06-06              5  DefaultValue
5  2.0    5      6      2013-12-23              6  DefaultValue
6  3.0    4      1      2013-12-30              7  DefaultValue
7  NaN    2      3      2014-04-24              8  DefaultValue
8  7.0    4      3      2015-04-24              9  DefaultValue
9  3.0    4      4      2016-05-08             10  DefaultValue

In [47]:
# 36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)  # Verify the type conversion

UID                       float64
PID                         int64
Quant                       int64
TransactionDate    datetime64[ns]
TransactionID               int64
NewColumn                  object
dtype: object

In [49]:
# 37. Insert a new column, Foo=UserID+ProductID
#df['Foo'] = df['UserID'] + df['ProductID']
#print(df)

In [3]:
import seaborn as sb