In [5]:

import pandas as pd
df = pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [4]:
#1. Print Summary of transaction data set

import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [3]:
#2. Print Numbers of Attributes
df.shape   #number of rows and columns

(10, 5)

In [8]:
#3. Print Numbers of Records

df.shape[0]  #no. of rows

10

In [11]:
#4. Get the columns names
df.keys()

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [15]:
#5. Get the row names
df.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#6. View top 10 Records
df.head(10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [4]:
#7.Change the name of column “ Quantity” to “Quant”
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [18]:
#8.Change the name of columns ProductID and UserID to PID and UID respectively
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={"ProductID":"PID","UserID":"UID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [20]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True 

import pandas as pd

df=pd.read_csv("transactions.csv")

print("Original DataFrame:")
print(df)

# Sort by TransactionId in descending order
df_desc = df.sort_values(by='TransactionID', ascending=False)

print("\nDataFrame sorted by TransactionID (descending):")
print(df_desc)

# Sort by TransactionID in ascending order
df_asc = df.sort_values(by='TransactionID', ascending=True)

print("\nDataFrame sorted by TransactionID (ascending):")
print(df_asc)

Original DataFrame:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

DataFrame sorted by TransactionID (descending):
   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

DataFrame sorted by TransactionID (ascending):
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [23]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending

import pandas as pd

df=pd.read_csv("transactions.csv")


df_sorted = df.sort_values(by=['Quantity', 'TransactionDate'], ascending=[True, False])
print(df_sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [26]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID

import pandas as pd

df=pd.read_csv("transactions.csv")

new_order = ['ProductID', 'Quantity', 'TransactionDate', 'TransactionID','UserID']
df_reordered = df[new_order]
print(df_reordered)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [ ]:
#12. Make UserID the first column of transactions

import pandas as pd

df=pd.read_csv("transactions.csv")

first_column = 'UserID'

columns=[]

for col in df.columns:
  if(col!=first_column):  
    columns.append(col)

# new_order = [first_column] + [col for col in df.columns if col != first_column]

new_order=first_column+columns
df_reordered = df[new_order]
print(df_reordered)

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

In [33]:
#13. Extracting arrays from a Data Frame. Get the 2nd column

import pandas as pd

df=pd.read_csv("transactions.csv")


second_column = df.iloc[:, 1] 
print(second_column)

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

In [38]:
#14. Get the ProductID Array
import pandas as pd

df=pd.read_csv("transactions.csv")

print(df['ProductID'])

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

In [39]:
#15. Get the ProductId array using the following variable ...

import pandas as pd
df=pd.read_csv("transactions.csv")
DataMining=df['ProductID']
print(DataMining)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

In [45]:
#16.Row subsetting, subset rows 1,3 and 6

import pandas as pd
df=pd.read_csv("transactions.csv")
df = df.iloc[[1,3,6],:]
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [48]:
#17. subset rows excluding 1,3 and 6
import pandas as pd
df=pd.read_csv("transactions.csv")
excluded_indices = [1, 3, 6]
subset_df = df[~df.index.isin(excluded_indices)]
subset_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [51]:
#18. Subset the first three rows
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.head(3))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [52]:
#19. Subset the last 2 rows
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.tail(2))

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [53]:
#20. Subset rows excluding the last 2 rows
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_df = df[:-2]
subset_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3