In [8]:
import pandas as pd 
data = [10, 20, 30, 40] 
v = pd.Series(data) 
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
import pandas as pd 

data = { 
    'Name': ['Alice', 'Bob', 'Charlie'], 
    'Age': [25, 30, 35], 
    'City': ['New York', 'Los Angeles', 'Chicago'] 
} 
df = pd.DataFrame(data) 
print(df)

In [10]:
import pandas as pd 

data = { 
    'Fruit': ['banana', 'apple', 'mango'], 
    'Kgs': [25, 30, 35]
} 
df = pd.DataFrame(data,index=["day1","day2","day3"]) 
print(df)

       Fruit  Kgs
day1  banana   25
day2   apple   30
day3   mango   35

In [12]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(2))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4

In [14]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.tail(4))

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [44]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.info())
print("Discribe")
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None
Discribe
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [19]:
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [41]:
import pandas as pd 
from datetime import date
print((date.today()))
now=pd.to_datetime(str(date.today()),format="%Y-%m-%d")
# print("Today's date :")
print(now)

2025-01-28
2025-01-28 00:00:00


Time

In [42]:
import pandas as pd
from datetime import datetime

# Get the current date and time
now = pd.to_datetime(datetime.now())

print("Current date and time:")
print(now)

Current date and time:
2025-01-28 15:28:03.314040

### Accessing coulms

In [48]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df['TransactionDate'])

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

In [53]:
#Multiple columns

import pandas as pd
df=pd.read_csv("transactions.csv")
print(df[['TransactionDate','TransactionID']])

  TransactionDate  TransactionID
0      2010-08-21              1
1      2011-05-26              2
2      2011-06-16              3
3      2012-08-26              4
4      2013-06-06              5
5      2013-12-23              6
6      2013-12-30              7
7      2014-04-24              8
8      2015-04-24              9
9      2016-05-08             10

In [55]:
print(df.iloc[3])

TransactionID               4
TransactionDate    2012-08-26
UserID                    1.0
ProductID                   2
Quantity                    3
Name: 3, dtype: object